# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.opensdf
*.sdf

# Debug directories
SwissArmyKnife/Debug/*
SwissArmyKnife/Release/*
SwissArmyKnife/x64/*

# Zlib library
!zlib_x64.lib
!zlib_x86.lib